:root {
    --yellow: yellow;
} 
li a {
    width: 90px;
    color: red;
    text-decoration: none;
    text-align: center;
}
li {
    list-style: none;
    display: inline;
}
a {
    background-color: #dddddd;
    display: block;
}
ul {
    width: 100%;
    margin: 30px;
    list-style-type: none;
    float: left;
    position: relative;
    top: -150px; left: 50px;
    height: 4cm;
    font-size: large;
    overflow: auto;
    z-index: 1000;
    padding: 1.5rem 10%;
    display: flex;
    justify-content: space-between;
}
.logo img {
    width: 150px;
    border-radius: 10px;
}
li a:hover {
    background-color: #333;
    color: white;
}
li a.active {
    color: white;
}
html {
    font-size: 63%;
    overflow-x: hidden;
}
html::-webkit-scrollbar {
    width: 1.4rem;
}
html::-webkit-scrollbar-thumb {
    background: var(--yellow);
}
body {
    overflow-x: hidden;
    background-color: darkred;
}
header #menu-bar {
    font-size: 50px;
    color: black;
    cursor: pointer;
    display: none;
}
.content h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 6rem;
    color: #333;
    font-weight: bold;
}
.Home p {
    font-size: 2rem;
    font-weight: bold;
    color: #666;
    padding: 1rem 0;
}
section {
    min-height: 100vh;
    position: relative;
    top: -400px; left: -20px;
    margin-left: -50px;
}
.Home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    overflow: hidden;
}
.image img {
    position: relative;
    bottom: -9rem;
}
.home .content {
    text-align: center;
}
.btn {
    font-size: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 8rem;
    margin-top: 1rem;
    background: none;
    color: #555;
    cursor: pointer;
    border: 0.5rem solid var(--yellow);
}
.About {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.About .image {
    background-size: cover;
    height: 35rem;
    background-position: cover;
    background-blend-mode: screen;
    position: relative;
    top: -200px; right: -80px;
}
.About .content h3 {
    font-family: 'Roboto Condensed', sans-serif;
    color: green;
    text-align: center;
}
.About .content p {
    font-family: 'Oswald', sans-serif;
    color: blueviolet;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    padding-left: 1px;
    padding-right: 100px;
}
.Gallery .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.Gallery .box-container .box {
    height: 20rem;
    width: 30rem;
    margin: 2rem;
    cursor: pointer;
    position: relative;
    overflow: auto;
}
.Gallery .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.Gallery h1 {
    color: yellow;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
}
.Gallery .box-container .box h3 {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}
.Prices {
    
}






































































/* media queries */
@media (max-width: 768px) {
    html {
        font-size: 55%;
        overflow-x: hidden;
    }
    header #menu-bar {
        display: block;
        font-size: 30px;
    }
    .navbar {
        position: relative;
        top: 3rem; left: 0;
        width: 100%;
        border-top: 2rem solid rgba(0,0,0,.1);
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;
    }
    ul {
        flex-flow: column
        padding 2rem;
    }
    li {
        margin: 1.5rem;
        width: 100%;
    }
    li a {
        display: block;
        color: goldenrod;
        padding-left: 5px;
        border-left: 2rem solid palevioletred;
        font-size: 2rem;
    }
    li a:hover,
    li a.active {
        color: purple;
        border-color: rebeccapurple;
    }
    .logo img {
        width: 100px;
    }
    .fa-times {
        transform: rotate(360deg);
    }
    .navbar.nav-toggle {
        transform: scaleY(1);
        opacity: 1;
        margin-top: -50px;
    }
    .home .content {
        text-align: center;
    }
    .content h3 {
        font-size: 4.5rem;
    }
    section {
        position: relative;
        top: -250px; left: 40px;
    }
    .content {
        text-align: center;
    }
    .content p {
        font-size: 3rem;
    }
    .image img {
        position: relative;
        top: -5px;
    }
    .About .image {
        position: relative;
        top: -50px; right: -10px;
        width: 100%;
        height: 50rem;
    }
    .About .content p {
        font-size: large;
        padding-right: 20px;
        padding-left: 25px;

    }
}
